<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
    <a class="navbar-brand" href="#">Apex Guide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="characters">Characters <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="weapons">Weapons</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="attachments">Attachments</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Consumables</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Armors</a>
          </li>
      </ul>
    </div>
  </nav>